<form [formGroup]="formSkill" class="p-3">
  <div class="d-flex justify-content-between">
    <h1 class="headline_3 ps-2 py-3 fw-bold">Agregar Skill</h1>
    <button matIconSuffix mat-button type="button" matTooltip="Cerrar" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="row reset">
    <div class="col-12 col-md-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error *ngIf="formSkill.get('nombre')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="categoria">
          <mat-option value="Front-End">Front-End</mat-option>
          <mat-option value="Back-End">Back-End</mat-option>
          <mat-option value="Base de Datos">Base de Datos</mat-option>
          <mat-option value="DevOps">DevOps</mat-option>
          <mat-option value="Testing">Testing</mat-option>
          <mat-option value="Project Management">Project Management</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Subcategoría</mat-label>
        <input matInput formControlName="subcategoria" />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Icono</mat-label>
        <input matInput formControlName="icon" />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Tags (separados por coma)</mat-label>
        <input matInput [value]="formSkill.get('tags')?.value!.join(', ')" (blur)="onTagsInput($event)" />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Años de experiencia</mat-label>
        <input matInput type="number" formControlName="experiencia" />
        <mat-error *ngIf="formSkill.get('experiencia')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
        <mat-error *ngIf="formSkill.get('experiencia')?.hasError('min')">
          No puede ser menor a 0
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Nivel</mat-label>
        <mat-select formControlName="nivel">
          <mat-option value="Básico">Básico</mat-option>
          <mat-option value="Intermedio">Intermedio</mat-option>
          <mat-option value="Avanzado">Avanzado</mat-option>
          <mat-option value="Experto">Experto</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 d-flex align-items-center">
      <mat-slide-toggle color="primary" formControlName="vigente">
        ¿Vigente?
      </mat-slide-toggle>
    </div>
  </div>


 <div class="row mt-3">
  <div class="col-12 col-md-6 text-start mb-2 mb-md-0"></div>
  <div class="col-12 col-md-6 text-end">
    <div class="d-flex flex-column flex-md-row justify-content-end gap-2">
      <button class="btn-guardar w-100 w-md-auto" (click)="saveForm()">
        <mat-icon>add</mat-icon>
        Agregar
      </button>
      <button class="btn-limpiar w-100 w-md-auto" (click)="formSkill.reset()">
        <mat-icon>cleaning_services</mat-icon>
        Limpiar
      </button>
    </div>
  </div>
</div>

</form>
