// Colores “coffee”
$coffee-dark       : #84692c !default;
$coffee-medium-dark: #d4c7a8 !default;
$coffee-light      : #fffcf5 !default;
$text-title       : #6c3d33 !default;
$coffee-text       : #362806 !default;

// Neutros y bordes
$border-light      : rgba(0, 0, 0, 0.1) !default;

// Tipografía
$font-family-base  : Roboto, "Helvetica Neue", sans-serif !default;

// Tamaños
$full-height       : 100% !default;
$drawer-height     : 93% !default;
$btn-width         : 200px !default;
$btn-height        : 50px !default;
$btn-transition    : 0.2s !default;

// Espaciados
$padding-drawer    : 20px !default;
