@use '../../../../styles/variables' as var;


mat-card-title{
    font-size: 30px;
    color: var.$text-title;
    font-weight: 700;
}


.badge-periodo{
    font-size: 18px;
    color: var.$coffee-dark;
    font-weight: lighter;
    position: relative;
    top:5px;
    left: -11px;
}

.tecnologiaSelected{
    transition: .3s all;
    color: var.$coffee-text !important;
    font-weight: 700 !important;
    background: var.$coffee-medium-dark !important;
}

p{
    font-size: 17px;
}

