@use './styles/variables' as var;
@use '@angular/material' as mat;
@use 'sass:map';
@use '../theme-colors' as custom;

// 1. Tema Material
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body {
  height: var.$full-height;
}

body {
  margin: 0;
  font-family: var.$font-family-base;
}

// Clases de fondo con variables
.bg-coffe-dark {
  background: var.$coffee-shade-dark !important;
  color:      var.$coffee-shade-light !important;
}

.bg-coffe-media-dark {
  background: var.$coffee-shade-medium !important;
  color:      var.$text-color-coffee !important;
}

.text-color-coffee{
  background: var.$text-color-coffee !important;
}

.bg-coffe {
  background: var.$coffee-shade-light !important;
}

.bg-color-coffee{
  background: var.$text-color-coffee;
}

.text-coffe{
  color: var.$text-color-heading !important;
}

.br-coffe{
  border: 1px solid var.$text-color-heading !important;
}


.btn-guardar { 
  display: flex !important;
  flex-direction: row !important;
  justify-content:space-evenly !important;
  align-items: center !important;

  width: 140px !important;
  height: 48px !important;
  background: #a46301 !important;
  border: none !important;
  border-radius: 8px !important;
  transition: background 0.3s ease-out, color 0.4s ease-out !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: 0.0120588em !important;
  color: #FFFFFF !important;
  cursor: pointer !important;

  &--confirmar {
    width: 250px !important;
    min-height: 52px !important;
    height: 52px !important;
  };

  &--busqueda-xl {
    min-width: 220px !important;
    width: 220px !important;
    min-height: 54px !important;
    height: 54px !important;
  };

  &--busqueda-md {
    min-width: 140px !important;
    width: 140px !important;
    min-height: 54px !important;
    height: 54px !important;
  };



  &:hover {
    background: #bf8c4d!important;
    color: #FFFFFF!important;
  }

  &:active {
    background: #734401!important;
    color: #FFFFFF!important;
  }

  &:disabled {
    background: #E9EBEC!important;
    color: #79858E!important;
    cursor: not-allowed!important;
  }
}

.btn-limpiar { 
  display: flex!important;
  flex-direction: row!important;
  justify-content:space-evenly!important;
  align-items: center!important;

  width: 140px!important;
  height: 48px!important;
  background: transparent!important;
  border: #bf8e4d 1px solid!important;
  border-radius: 8px!important;
  transition: background 0.3s ease-out, color 0.4s ease-out !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: 0.0120588em !important;
  color: #bf8f4d !important;
  cursor: pointer !important;

  
  &--busqueda-xl {
    min-width: 220px !important;
    width: 220px !important;
    min-height: 52px !important;
    height: 52px !important;
    
  };
  &--busqueda-md {
    min-width: 140px !important;
    width: 140px !important;
    min-height: 54px !important;
    height: 54px !important;
    
  };


  &:hover {
    background: #bfa14d !important;
    color: #FFFFFF !important;
  }

  &:active {
    background: #734b01 !important;
    color: #FFFFFF !important;
  }

  &:disabled {
    background: #E9EBEC !important;
    color: #79858E !important;
    cursor: not-allowed !important;
  }
}

.secondary-button{
   width: 140px!important;
  height: 48px!important;
  background: #fbf2e3 !important;
  border: #bf8e4d 1px solid !important;
  color: #4a2b02 1px solid !important;
  border-radius: 8px!important;
  transition: background 0.3s ease-out, color 0.4s ease-out !important;
   &:hover {
    background: #e8d8bb !important;
    border: none !important;

  }

}


h1, h2, h3, h4, h5, h6, p {
  color:      var.$text-color-heading !important;
}

h1 {
  font-weight: 400 !important;
}

p{
  font-size: 17px;
  line-height: 20px;
}