@use './styles/variables' as var;
@use '@angular/material' as mat;
@use 'sass:map';
@use '../theme-colors' as custom;

// 1. Tema Material
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body {
  height: var.$full-height;
}

body {
  margin: 0;
  font-family: var.$font-family-base;
}

// Clases de fondo con variables
.bg-coffe-dark {
  background: var.$coffee-dark !important;
  color:      var.$coffee-light !important;
}

.bg-coffe-media-dark {
  background: var.$coffee-medium-dark !important;
  color:      var.$coffee-text !important;
}

.bg-coffe {
  background: var.$coffee-light !important;
}

h1, h2, h3, h4, h5, h6, p {
  color:      var.$text-title !important;
}

h1 {
  font-weight: 400 !important;
}
